* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #cccccc;
}
html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 65px;
}

.flex {
    display: flex;
}

body{
    background: #000000;
}

body.dark{
    background: #000000;
}

section{
    min-height: 100vh;
    box-shadow: 0px 0px 3px #ffffff;
}

section.dark{
    box-shadow: 0px 0px 3px #ffffff;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 0s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transition: all 1s;
}

.container{
    max-width: 100vw;
    margin: 0 auto;
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* HEADER */



header{
    position: fixed;
    background-color: #000000f6;
    width: 100%;
    height: 65px;
    padding: 10px;
    box-shadow: 0px 0px 3px #ffffff;
    z-index: 2;
}

header.dark{
    background-color: #000000;
    box-shadow: 0px 0px 8px #ffffff;
}

.social{
    width: 25%;
}

.menu-desktop{
    width: 75%;
}

.logo{
    margin-top: 15px;
}



/* MENU-DESKTOP */

.menu-desktop{
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu-desktop nav a{
    color: #636363;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    transition: 0.2s;
    margin-left: 20px;
}

.menu-desktop nav a:hover{
    transform: scale(1.1);
    font-weight: 600;
}

.menu-desktop nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ffffff, #aaaaaa);
    position: absolute;
    top: 22px;
    left: 0;
    border-radius: 10px;
    transition: width 0.5s;
}

.menu-desktop nav .menu-inicio:hover::after{
    width: 66px;
}

.menu-desktop nav .menu-habilidades:hover::after{
    width: 113px;
}

.menu-desktop nav .menu-projetos:hover::after{
    width: 84px;
}

.menu-desktop nav .menu-sobre:hover::after{
    width: 61px;
}

.menu-desktop nav .menu-faq:hover::after{
    width: 52px;
}


.menu-desktop nav a.ativo{
    color: #ffffff;
    font-weight: 600;
}

.menu-desktop nav .menu-inicio.ativo::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 22px;
    left: 0;
    width: 66px;
    transition: width 0.5s;
}

.menu-desktop nav .menu-habilidades.ativo::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 22px;
    left: 0;
    width: 113px;
    transition: width 0.5s;
}

.menu-desktop nav .menu-projetos.ativo::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 22px;
    left: 0;
    width: 84px;
    transition: width 0.5s;
}

.menu-desktop nav .menu-sobre.ativo::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 22px;
    left: 0;
    width: 61px;
    transition: width 0.5s;
}

.menu-desktop nav .menu-faq.ativo::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 22px;
    left: 0;
    width: 52px;
    transition: width 0.5s;
}

.menu-desktop nav a i{
    color: #636363;
}

.menu-desktop nav a.ativo i{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/* menu mobile */



.abrir-menu i{
    color: #fe4701;
    font-size: 40px;
    margin-top: 8px;
    display: none;
}

.menu-mobile{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.menu-aberto{
    width: 70%;
}

.menu-mobile.menu-aberto ~ .sombreado-menu{
    display: block;
}

.fa-solid:hover{
    transform: scale(1.05);
}

.menu-mobile .fechar{
    padding: 20px 6%;
}

.menu-mobile .fechar i{
    color: #fe4701;
    font-size: 40px;
}

.logo-mobile{
    text-align: center;
}

.menu-mobile nav ul{
  text-align: center;
}

.menu-mobile nav ul li a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #fe4701;
    font-weight: 600;
    color: #000000;
}

#social-mobile{
    display: flex;
    gap: 15px;
    margin: 15px;
    background-color: #242424;
}

#social-mobile.dark{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
}

#social-mobile.dark i{
    color: #ffffff;
}

.sombreado-menu{
    background-color: #000000a2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}



/* REDES SOCIAIS */



.social button i{
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.social button:hover i{
    color: #ffffff;
    transform: scale(1.1);
}

#gh i:hover{
    color: #000000;
}

.social button{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.social.dark button{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
}

.social.dark button i{
    color: #ffffff;
}


#linkedin::before{
    background-color: #0A66C2;
}

#gh::before{
    background-color: #ffffff;
}

#whatsapp::before{
    background-color: #25D366;
}

#instagram::before{
    background: linear-gradient(#F9CE34 , #EE2A7B , #6228D7);
}

.social button::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: -100;
    top: 100%;
    background-color: #242424e3;
}

.social button:hover::before{
    animation: deslocamento .6s;
    left: 0;
    top: 0;
}

@keyframes deslocamento {
    0%{
        left: -100;
        top: 100%;
    }
    50%{
        left: 15%;
        top: -25%;
    }
    100%{
        left: 0;
        top: 0;
    }
}



/* BOTÃO MODO DARK */



.dark-mode{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 50px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.dark-mode.dark{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
}

.dark-mode.dark i{
    color: #ffffff;
}

.dark-mode i{
    font-size: 16px;
    margin-top: 7px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.dark-mode:hover i{
    color: #ffffff;
    transform: scale(1.05);
}

.dark-mode::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: -100;
    top: 100%;
    background-image: linear-gradient(90deg, #000000, #ffffff);
}

.dark-mode:hover::before{
    animation: deslocamento .6s;
    left: 0;
    top: 0;
}



/* texto topo lado esquerdo */



section.topo{
    padding: 40px 4%;
}

section.topo .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo .texto-topo{
    transition-delay: 150ms;
}

.topo .texto-topo h1{
    color: #cccccc;
    font-size: 60px;
    margin-top: 100px;
    text-align: end;
}

.topo .texto-topo h2{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-top: 30px;
    text-align: end;
}

h3{
    color: #cccccc;
    text-align: end;
    margin: 50px 0 0 0;
    text-transform: uppercase;
}

.topo .texto-topo p{
    margin: 20px 0 0 0;
    font-size: 20px;
    color: #cccccc;
    text-align: end;
    line-height: 30px;
}

.topo .texto-topo p a{
    color: #cccccc;
}

.topo .texto-topo p a:hover{
    color: #999999;
}

.texto-topo-mobile{
    display: none;
}



/* IMAGEM TOPO DO SITE */



.topo .img-topo img{

    margin-top: 90px;
    box-shadow: 0px 0px 10px #ffffff;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-size: cover;
    transition: .2s;
}

.topo .img-topo img:hover{
    box-shadow: 0px 0px 20px #ffffff;
}



/* HABILIDADES */



section.habilidades{
    padding: 60px 20px 40px 20px;
}

section.habilidades .interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades h2{
    font-size: 40px;
}

.habilidades h2 span{
    position: relative;
}

.habilidades h2 span::before{
    content: "";
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    animation: hab 5s infinite;
}

.habilidades h2 span::after{
    content: "";
    position: absolute;
    height: 42px;
    bottom: 4px;
    border-left: 2px solid #838383;
    right: -10px;
    animation: ponteiroi .7s infinite, digitar 20s steps(15) infinite;
    width: calc(100% + 12px);
    background-color: #000000;
}

.habilidades h2 span.dark::after{
    background-color: #000000;
}


@keyframes digitar {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 90%{
        width: calc(100% + 12px);
    }
}

@keyframes ponteiroi{
    0%{
        border-left: 2px solid #1D1717;
    }
}

@keyframes hab{
    0%,100%{
        content: "<MINHAS> </HABILIDADES>" ;
    }
}

.habilidades p{
    color: #cccccc;
    font-weight: 700;
    padding: 20px;
}

.lista {
    display: flex;
    column-gap: 50px;
    padding: 10px;
    justify-content: center;
    transition: 0.2s;
}

.habs{
    transition: .5s;
}

.habs li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.habil{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    margin-bottom: 40px;
    padding: 5px;
    list-style-type: none;
    transition: .5s;
}

.habil:hover{
    transform: scale(1.1);
}

.habil img{
    width: 100px;
    height: 100px;
}

#angular-icon{
    width: 90px;
    height: 85px;
}

#react-icon{
    width: 80px;
    height: 80px;
}

#figma-icon{
    height: 85px;
}

.sombreado-habil{
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    font-size: 20px;
    font-weight: 300;
    color: #cccccc;
    border-radius: 20px;
    margin-top: 35PX;
    transition: .5s;
    align-items: end;
    justify-content: center;
}

.delay1{
    transition-delay: 300ms;
}

.delay2{
    transition-delay: 600ms;
}



/* SOBRE */



section.sobre{
    padding: 60px 0 0 0;
}

section.sobre .flex{
    align-items: center;
}

section.sobre .texto-sobre h2{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding: 10PX;
    text-align: center;
    margin: 0 0 20px 0;
}

section.sobre .texto-sobre{
    color: #cccccc;
}

section.sobre .texto-sobre p{
    margin: 0 40px 30px;
}



/* projetos */



.projetos h2 span{
    position: relative;
}

.projetos h2 span::before{
    content: "";
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    animation: projetos 5s infinite;
}

.projetos h2 span::after{
    content: "";
    position: absolute;
    height: 42px;
    bottom: 4px;
    border-left: 2px solid #838383;
    right: -10px;
    animation: ponteiroi .7s infinite, digitar 20s steps(15) infinite;
    width: calc(100% + 12px);
    background-color: #000000;
}

.projetos h2 span.dark::after{
    background-color: #000000;
}


@keyframes digitar {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 90%{
        width: calc(100% + 12px);
    }
}

@keyframes ponteiroi{
    0%{
        border-left: 2px solid #1D1717;
    }
}

@keyframes projetos{
    0%,100%{
        content: "<MEUS> </PROJETOS>" ;
    }
}

section.projetos{
    padding: 60px 20px 40px 20px;
}

section.projetos h2{
    font-size: 40px;
    text-align: center;
}

section.projetos .flex{
    flex-direction: column;
}

.reverse{
    flex-direction: row-reverse;
    text-align: end;
}

.projeto-container{
    display: flex;
    justify-content: center;
}

.img-proj, .projeto-content{
    width: 50%;
}

.img-proj{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-size: cover;
    background-position: 100% 0%;
    position: relative;
    transition: 5s;
    margin: 50px 0 0 50px;
}

.projeto-container .projeto-content{
    border: 1px solid red;
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-proj:hover{
    background-position: 100% 100%;
}

.sombreado{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000098;
    color: #ffffff;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.sombreado:hover{
    opacity: 1;
}

.btn-projeto{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    width: 80px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.btn-projeto:hover{
    background: linear-gradient(45deg, #ff4800, #ff9e20);
    font-weight: 600;
    color: #ffffff;
}



/* FAQ RECRUTADORES */



.faq-recrutadores{
    padding: 60px 0 0 0;
}

.titulo-faq{
    font-size: 40px;
    padding: 10px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.faq{
   max-width: 800px;
   margin: 30px auto 0;
   padding: 0 0 15px 0;
   border-bottom: 2px solid #636363;
   cursor: pointer;
   transition: .2s;
}

.faq:hover{
    border-bottom: 2px solid #cccccc;

}

.questions-container{
   padding: 10px;
   justify-content: space-between;
   align-items: center;
}

.questions-container p{
   font-size: 24px;
}

.down{
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(45deg, #ff2500, #ff7100);
   height: 35px;
   width: 35px;
   border-radius: 50%;
   transition: transform .2s ease-in;
}

.down i{
    font-size: 18px;
    font-weight: 600px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.answer p{
    padding: 15px;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 300;
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 1.2s ease-in-out;
}

.faq.active .down{
    transform: rotate(180deg);
}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



/* FOOTER */



footer{
    padding: 20px 4%;
}

footer.flex{
    justify-content: space-between;
}

.logo-footer, .social-footer{
    width: 50%;
}

.logo-footer img{
    height: 50px;
    width: 150px;
}

.social-footer{
    justify-content: end;
    text-align: end;
}

footer .divisa-footer{
    padding: 20px 0;
}

footer .divisa-footer p{
    color: #cccccc;
    font-weight: 300;
    text-align: center;
}

footer p a{
    font-weight: 600;
    color: #cccccc;
}

.divisa span{
    font-weight: 600;
    color: #cccccc;
}

.divisa{
    border-top: 2px solid #636363;
}



/* MODAL SAÍDA */



dialog{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: 400px;
    border-radius: 30px 0 30px 30px;

    background-image: url(img/rosto.jpg);
    background-size: cover;
    box-shadow: 0px 0px 5px #ffffff;
}

.fechar-modal-saida{
    display: flex;
    justify-content: end;
    align-items: end;
}

.fechar-modal-saida button{
    height: 30px;
    width: 30px;
    font-size: 25px;
    color: #ff1e00;
    cursor: pointer;
}

dialog .saida{
    color: #ffffff;
    font-size: 20px;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

dialog::backdrop{
    background-color: #000000d3;
}



/* RESPONSIVIDADE */



@media screen and (max-width: 1200px){

    .abrir-menu i{
        display: block;
        margin-left: 350px;
    }

    .menu-desktop, .dark-desktop, #social-header {
        display: none;
    }

    .flex{
        flex-direction: column;
    }

    .texto-topo-desktop{
        display: none;
    }

    .texto-topo-mobile{
        display: block;
    }

    section{
        height: 100%;
    }

    section.habilidades{
        padding: 40px 20px 20px 20px;
    }

    .habilidades h2{
        color: #ffffff;
        font-size: 30px;
    }

    .habilidades h2 span::before{
        font-size: 30px;
    }

    .lista {
        column-gap: 20px;
    }

    .habs li{
        width: 65px;
    }

    .habil{
        height: 75px;
    }

    section.sobre .social{
        display: inline;
    }

    .dark-mode{
        margin-left: 15px;
    }
    .img-proj{
        width: 300px;
        height: 360px;
        border-radius: 35px;
        display: flex;
        margin: 20px auto  ;
    }

    footer{
        padding: 10px 4%;
    }

    .social button{
        margin-right: 5px;
    }

    .social-footer{
        justify-content: end;
        margin-left: 185px;
        margin-top: -55px;
    }
}


@media screen and (max-width: 500px){

    .topo .texto-topo h1{
        font-size: 45px;
        margin-top: 60px;
        text-align: center;
    }

    .topo .texto-topo h2{
        font-size: 30px;
        text-align: center;
    }

    h3{
        text-align: center;
        margin: 60px 0 40px;
    }

    .topo .texto-topo p{
        text-align: center;
    }

    .topo .texto-topo button{
        margin: 60px 0 0 120px;
    }

    .topo .img-topo img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .abrir-menu i{
        margin-left: 0px;
    }

    .logo{
        margin-right: 150px;
    }

    .logo span::before{
        font-size: 25px;
    }

    .abrir-menu{
        margin-left: 70px;
    }

    .dark-mode{
        margin-left: 15px;
    }

    .habilidades h2 span::before{
        font-size: 28px;
    }

    .habs li{
       width: 55px;
    }

    .projetos h2 span::before{
        font-size: 28px;
    }

    .texto-sobre h2{
        font-size: 10px;
        line-height: 50px;
    }

    .social button{
        margin-right: 5px;
    }

    .social-footer{
        display: inline;
        margin-left: 160px;
        margin-top: -55px;
    }

    .logo-footer{
        width: 50px;
    }
}

@media screen and (max-width: 330px){

    .abrir-menu i{
        margin-left: 100px;
    }

    .habilidades h2 span::before{
        font-size: 24px;
    }

    .habs li{
       width: 48px;
    }

    .logo-footer img{
        height: 40px;
        width: 120px;
    }

    .social button{
        margin-right: 5px;
    }

    .social-footer{
        justify-content: end;
        margin-left: 140px;
        margin-top: -55px;
        margin-right: 2;
    }
}