* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #cccccc;
}
html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 65px;
}

.flex {
    display: flex;
}

body{
    background: #111217;
}

body.dark{
    background: #e9e9e9;
    color: #242424;
}

.full-screen{
    min-height: 100vh;
}

section{
    box-shadow: 0px 0px 3px #ffffff;
}

section.dark{
    box-shadow: 0px 0px 3px #000000;
}

.dark p{
    color: #242424;
}

/* .hidden-left{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 0s;
}

.show-left{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transition: all .5s;
} */

/* .hidden-right{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(0%);
    transition: all 0s;
}

.show-right{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transition: all 1s;
} */

.ocult{
    opacity: 0;
}

.fade{
    opacity: 1;
    animation: fade 1.2s ease-in-out;
}

.menu-mobile-magic{
    display: none;
}

.container{
    max-width: 100vw;
    margin: 0 auto;
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* HEADER */



header{
    position: fixed;
    background-color: #111217f6;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 3px #ffffff;
    z-index: 2;
}

header.dark{
    background-color: #e9e9e9f6;
    box-shadow: 0px 0px 8px #000000;
}

.social{
    width: 25%;
}

.menu-desktop{
    width: 75%;
}

.logo img{
    height: 50px;
    width: 200px;
}

.btn-hover:hover{
    background-image: linear-gradient(45deg, #252525, #585858);
}



/* MENU-DESKTOP */

.menu-desktop{
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu-desktop nav a{
    color: #636363;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    transition: 0.2s;
    margin: 0 20px 0;
}

.menu-desktop nav a:hover{
    transform: scale(1.1);
    font-weight: 600;
}

.menu-desktop nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ffffff, #aaaaaa);
    position: absolute;
    top: 22px;
    left: 0;
    border-radius: 10px;
    transition: width 0.5s;
}

.menu-desktop nav .menu-inicio:hover::after{
    width: 66px;
}

.menu-desktop nav .menu-habilidades:hover::after{
    width: 113px;
}

.menu-desktop nav .menu-projetos:hover::after{
    width: 84px;
}

.menu-desktop nav .menu-sobre:hover::after{
    width: 61px;
}

.menu-desktop nav .menu-faq:hover::after{
    width: 52px;
}

.menu-desktop nav .menu-sincerao:hover::after{
    width: 92px;
}

.menu-desktop nav a:hover::after{
    background-image: linear-gradient(45deg, #ffffff, #aaaaaa);
}

.menu-desktop nav a.ativo{
    color: #ffffff;
    font-weight: 600;
}

.menu-inicio.dark.ativo,
.menu-habilidades.dark.ativo,
.menu-projetos.dark.ativo,
.menu-sobre.dark.ativo,
.menu-faq.dark.ativo,
.menu-sincerao.dark.ativo{
    color: #000000;
}

header.dark .menu-desktop nav a:hover::after{
    background-image: linear-gradient(45deg, #cccccc, #000000);
}


.menu-desktop nav a.ativo::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 22px;
    left: 0;
    width: 66px;
    transition: width 0.5s;
}

.menu-desktop nav .menu-inicio.ativo::after{
    width: 66px;
}

.menu-desktop nav .menu-habilidades.ativo::after{
    width: 113px;
}

.menu-desktop nav .menu-projetos.ativo::after{
    width: 84px;
}

.menu-desktop nav .menu-sobre.ativo::after{
    width: 61px;
}

.menu-desktop nav .menu-faq.ativo::after{
    width: 52px;
}

.menu-desktop nav .menu-sincerao.ativo::after{
    width: 92px;
}

.menu-desktop nav a i{
    color: #636363;
}

.menu-desktop nav a.ativo i{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* REDES SOCIAIS */


.social{
    display: flex;
    justify-content: end;
}

.button button i{
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.button button:hover i{
    color: #ffffff;
    transform: scale(1.05);
}

#gh i:hover{
    color: #000000;
}

.button button{
    background-color: #242424;
    box-shadow: 0px 0px 15px #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

header.dark button{
    background-color: #cccccc;
    box-shadow: 0px 0px 15px #000000;
}

header.dark button i{
    color: #000000;
}


#linkedin::before{
    background-color: #0a66c2;
}

#gh::before{
    background-color: #ffffff;
}

#whatsapp::before{
    background-color: #25d365;
}

#instagram::before{
    background: linear-gradient(#F9CE34 , #EE2A7B , #6228D7);
}

.social button::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: -100;
    top: 100%;
    background-color: #242424e3;
}

.social button:hover::before{
    animation: deslocamento .6s;
    left: 0;
    top: 0;
}

@keyframes deslocamento {
    0%{
        left: -100;
        top: 100%;
    }
    50%{
        left: 15%;
        top: -25%;
    }
    100%{
        left: 0;
        top: 0;
    }
}



/* BOTÃO MODO DARK */



.dark-mode{
    background-color: #242424;
    box-shadow: 0px 0px 15px #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 20px 0 0;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.dark-mode.dark{
    background-color: #cccccc;
    box-shadow: 0px 0px 15px #000000;
}

.dark-mode.dark i{
    color: #000000;
}

.dark-mode i{
    font-size: 16px;
    margin-top: 7px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.dark-mode:hover i{
    color: #ffffff;
    transform: scale(1.05);
}

.dark-mode::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: -100;
    top: 100%;
    background-image: linear-gradient(90deg, #000000, #ffffff);
}

.dark-mode:hover::before{
    animation: deslocamento .6s;
    left: 0;
    top: 0;
}



/* texto topo lado esquerdo */



section.topo{
    padding: 40px 4%;
}

section.topo .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo .texto-topo{
    transition-delay: 150ms;
}

.topo .texto-topo h1{
    color: #cccccc;
    font-size: 60px;
    margin-top: 100px;
    text-align: end;
}

.topo.dark h1{
    color: #000000;
}

.topo .texto-topo h2{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-top: 30px;
    text-align: end;
}

.topo .texto-topo h3{
    color: #cccccc;
    text-align: end;
    margin: 50px 0 0 0;
    text-transform: uppercase;
}

.topo .texto-topo.dark h3{
    color: #242424;
}

.topo .texto-topo p{
    margin: 20px 0 0 0;
    font-size: 20px;
    color: #cccccc;
    text-align: end;
    line-height: 30px;
}

.topo .texto-topo.dark p{
    color: #242424;
}

.topo .texto-topo p a{
    color: #cccccc;
}

.topo .texto-topo.dark p a{
    color: #636363;
}

.topo .texto-topo p a:hover{
    color: #999999;
}

.texto-topo-mobile{
    display: none;
}



/* IMAGEM TOPO DO SITE */



.topo .img-topo img{

    margin-top: 90px;
    box-shadow: 0px 0px 10px #ffffff;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-size: cover;
    transition: .2s;
}

.topo .img-topo img:hover{
    box-shadow: 0px 0px 20px #ffffff;
}

.topo .img-topo.dark img{
    box-shadow: 0px 0px 10px #000000;
}

.topo .img-topo.dark img:hover{
    box-shadow: 0px 0px 20px #000000;
}



/* HABILIDADES */



section.habilidades{
    padding: 60px 20px 40px 20px;
}

section.habilidades .interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades .titulo{
    font-size: 50PX;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10PX;
}

.habilidades p{
    color: #cccccc;
    font-size: 20px;
    font-weight: 600;
    margin: 30px;
}

.habilidades.dark p{
    color: #242424;
}

.lista {
    display: flex;
    column-gap: 50px;
    padding: 10px;
    justify-content: center;
    transition: 0.2s;
}

.habs{
    transition: .5s;
}

.habs li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.habil{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    margin-bottom: 40px;
    padding: 5px;
    list-style-type: none;
    transition: .5s;
}

.habil:hover{
    transform: scale(1.1);
}

.habil img{
    width: 100px;
    height: 100px;
}

#angular-icon{
    width: 80px;
    height: 85px;
}

#react-icon{
    width: 80px;
    height: 80px;
}

#figma-icon{
    height: 85px;
}

.sombreado-habil{
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    font-size: 20px;
    font-weight: 600;
    color: #cccccc;
    border-radius: 20px;
    margin-top: 35PX;
    transition: .5s;
    align-items: end;
    justify-content: center;
}

.sombreado-habil.dark{
    color: #242424;
    font-weight: 600;
}

.delay1{
    transition-delay: 300ms;
}

.delay2{
    transition-delay: 600ms;
}

.tecnologias{
    width: 70%;
    margin: 50px auto;
}

.tec-container{
    display: flex;
    animation: fade 1.2s ease-in-out;

}

.card-content{
    height: 200px;
    width: 70%;
}

.tec-title{
    font-size: 40px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10PX;
}

.card-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 30%;
}

.card-image img{
    height: 85px;
    height: 85px;
}

#card-image-html, #card-image-js{
    margin-top: -40px;
}

#card-image-css{
    margin-bottom: -40px;
}

#card-image-angular, #card-image-bs{
    margin-top: -40px;
}

#card-image-angular, #card-image-react{
    height: 75px;
    width: 80px;
}

#card-image-react{
    margin-bottom: -40px;
}

#card-image-py, #card-image-ts{
    margin-top: -40px;
}

#card-image-sql{
    margin-bottom: -40px;
}

section.dark .ver-mais button{
    background-color: #cccccc;
    box-shadow: 0px 0px 20px #000000;
}

section.dark .ver-mais button i{
    color: #000000;
}


/* SOBRE */



section.sobre{
    padding: 60px 0 0 0;
}

section.sobre .flex{
    align-items: center;
    flex-direction: column;
}

section.sobre .texto-sobre h2{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding: 10PX;
    text-align: center;
    margin: 0 0 20px 0;
}

section.sobre .texto-sobre{
    color: #cccccc;
}

section.sobre .texto-sobre p{
    margin: 0 40px 30px;
}

.cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.cv button{
    background-color: #242424;
    box-shadow: 0px 0px 15px #ffffff;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.cv button i{
    font-size: 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.cv button:hover i{
    color: #ffffff;
    transform: scale(1.05);
}

.cv.dark button{
    background: #cccccc;
    box-shadow: 0px 0px 8px #000000;
}

.cv.dark button i{
    color: #242424;
}




/* projetos */



section.projetos{
    padding: 60px 0 40px ;
}

section.projetos h2{
    text-align: center;
    font-size: 50PX;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10PX;
}

section.projetos .flex{
    flex-direction: column;
}

.reverse{
    flex-direction: row-reverse;
    text-align: end;
}

.projeto{
    display: flex;
    flex-direction: column;
}

.projeto-container{
    display: flex;
    justify-content: center;
}

.img-proj, .projeto-content{
    width: 50%;
    animation: fade 1.2s ease-in-out;
}

.img-proj{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-size: cover;
    background-position: 100% 0%;
    position: relative;
    transition: 1s;
    margin: 50px 20px;
}

.projeto-container .projeto-content{
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.projeto-content.dark p{
    color: #242424;
}


.img-proj:hover{
    background-position: 100% 100%;
}

.sombreado{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000098;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.sombreado:hover{
    opacity: 1;
}

.btn-projeto{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    width: 80px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
    transition: 0.2s;
    overflow: hidden;
}

.btn-projeto:hover{
    background: linear-gradient(45deg, #ff4800, #ff9e20);
}

.ver-mais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver-mais button.ativo{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);

}



/* FAQ RECRUTADORES */



.faq-recrutadores{
    padding: 60px 0 20px 0;
}

.titulo-faq{
    font-size: 50px;
    padding: 10px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.faq{
   width: 70%;
   margin: 30px auto 0;
   padding: 0 0 15px 0;
   cursor: pointer;
   border-bottom: 2px solid #636363;
   transition: .2s;
}

.faq:hover{
    border-bottom: 2px solid #cccccc;
}

.questions-container{
   padding: 10px;
   height: 30px;
   justify-content: space-between;
   align-items: center;
}

.questions-container p{
   font-size: 24px;
}

.down{
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(45deg, #ff2500, #ff7100);
   height: 35px;
   width: 35px;
   border-radius: 50%;
   transition: transform .2s ease-in;
}

.down:hover{
    background-image: linear-gradient(45deg, #ff5031, #ff8018);
}

.down i{
    font-size: 18px;
    font-weight: 600px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.answer p{
    padding: 15px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 300;
}

.line{
    text-decoration: line-through white;
}

.faq.active .answer{
    max-height: 400px;
    animation: fade 1.2s ease-in-out;
}

.faq.active .down{
    transform: rotate(180deg);
}

.faq-btn{
    margin: 40px 0 0 0;
}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}




/* SINCERÃO */



.sincerao{
    padding: 60px 0 0 0;
    position: relative;
    height: 400px;
}

.sincerao-container{
    margin: 0 auto;
    display: block;
}

.sincerao h2{
    font-size: 50px;
    padding: 15px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.sincerao p{
    padding: 20px;
    text-align: center;
}

.sincerao-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.sincerao-btn button{
    background-color: #242424;
    color: #ffffff;
    font-size: 30px;
    box-shadow: 0px 0px 8px #ffffff;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 10px auto 20px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.sincerao-btn.dark button{
    background-color: #cccccc;
    box-shadow: 0px 0px 8px #000000;
}

.sincerao-btn.dark button i{
    color: #000000;
}


.sincerao-btn button:hover{
    color: #ffffff;
    transform: scale(1.05);
}

.sincerao-btn button:hover i{
    color: #ffffff;
    transform: scale(1.05);
}

.nao-btn{
    display: flex;
    justify-content: center;
    text-align: center;
}

#nao-gostei{
    position: absolute;
    margin: 10px auto;
}

#gostei::before{
    background: linear-gradient(#189e54 , #4cb622 , #77d728);
}

.obrigado-container{
    width: 600px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ffffff;
    margin: 0 auto;
    font-weight: 300;
}

.obrigado {
    margin: 0 auto;
    width: 400px;
}

.obrigado.dark{
    box-shadow: 0px 0px 8px #000000;
}

.obrigado p{
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 20px 0;
    animation: fade 1.2s ease-in-out;
}

.block {
    display: block;
}

.feedback-button {
    display: block;
}

.hide {
    display: none;
}

.fechar-obrigado{
    text-align: end;
    margin: 5px 10px 0 0;
}

.fechar-obrigado i{
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    cursor: pointer;
}

.sincerao-btn button::before{
    content: "";
    width: 100px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    left: -100;
    top: 100%;
    background-color: #555555e3;
}

.sincerao-btn button:hover::before{
    animation: deslocamento .6s;
    left: 0;
    top: 0;
}

@keyframes deslocamento {
    0%{
        left: -100;
        top: 100%;
    }
    50%{
        left: 15%;
        top: -25%;
    }
    100%{
        left: 0;
        top: 0;
    }
}



/* SINCERÃO NOTA */



.rate p{
    margin: 10px auto ;
    font-size: 25px;
    animation: fade 1.2s ease-in-out;
}

.rate-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 50px;
}

.rate-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

    width: 90px;
    height: 40px;
    transition: .2s;
    cursor: pointer;
}

.rate-container div:hover{
    background: linear-gradient(45deg, #ff2500, #ff7100);
}

.rate-container div p:hover{
    font-weight: 600;
    color: #000000;
}



/* RETURN BUTTON */



.return-container{
    margin: 30px auto;
}

.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    color: #ffffff;
    font-size: 30px;
    box-shadow: 0px 0px 8px #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 20px auto 10px;
    transition: 0.2s;
}

.reset.dark{
    background-color: #cccccc;
    box-shadow: 0px 0px 15px #000000;
}

.reset button i{
    font-size: 25px;
}

.reset.dark i{
    color: #000000;
}

.return-container p{
    margin: auto;
    cursor: pointer;
}



/* FOOTER */



footer{
    padding: 20px 4%;
}
.footer-mobile{
    display: none;
}

footer.flex{
    justify-content: space-between;
}

.logo-footer, .footer, .social-footer{
    width: 33%;
}

.logo-footer img{
    height: 50px;
    width: 150px;
}

.social-footer{
    justify-content: end;
    text-align: end;
}

footer.dark button{
    background-color: #cccccc;
    box-shadow: 0px 0px 15px #000000;
}

footer.dark button i{
    color: #000000;
}

footer .divisa-footer{
    padding: 20px 0;
}

footer .divisa-footer p{
    color: #cccccc;
    font-weight: 300;
    text-align: center;
}

footer p a{
    font-weight: 600;
    color: #cccccc;
}

footer.dark .divisa-footer p{
    color: #242424;
    font-weight: 300;
    text-align: center;
}

footer.dark p a{
    font-weight: 600;
    color: #000000;
}

.footer span{
    font-weight: 600;
    color: #cccccc;
}

footer.dark .footer span{
    color: #000000;
}

.divisa{
    border-top: 2px solid #636363;
    text-align: center;
    font-weight: 400;
}



/* MODAL SAÍDA */



dialog{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: 400px;
    border-radius: 30px 0 30px 30px;

    background-image: url(img/rosto.jpg);
    background-size: cover;
    box-shadow: 0px 0px 5px #ffffff;
}

.fechar-modal-saida{
    display: flex;
    justify-content: end;
    align-items: end;
}

.fechar-modal-saida button{
    height: 30px;
    width: 30px;
    font-size: 25px;
    color: #ff1e00;
    cursor: pointer;
}

dialog .saida{
    color: #ffffff;
    font-size: 20px;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

dialog::backdrop{
    background-color: #000000d3;
}



/* RESPONSIVIDADE */



@media screen and (max-width: 1200px){


    .menu-mobile-magic{
        display: block;
        background-color: #111217f6;
        box-shadow: 0px 0px 3px #ffffff;
        bottom: 0;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        position: fixed;
        z-index: 2;
    }

    .menu-mobile-magic.dark{
        background-color: #e9e9e9f6;
        box-shadow: 0px 0px 8px #000000;
    }

    .menu-mobile-magic.dark ul li a .icone-menu{
        color: #242424;
    }


    .menu-mobile-magic ul{
        width: 360px;
        display: flex;
    }

    .menu-mobile-magic ul li{
        width: 70px;
        height: 70px;
        list-style: none;
        position: relative;
        z-index: 2;
    }

    .menu-mobile-magic ul li a{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        position: relative;
    }

    .menu-mobile-magic ul li a .icone-menu{
        display: block;
        line-height: 75px;
        font-size: 25px;
        position: relative;
        transition: .5s;
    }

    .menu-mobile-magic ul li a .texto-menu{
        position: relative;
        opacity: 0;
        transition: .5s;
    }

    .menu-mobile-magic ul li a.ativo .icone-menu{
        transform: translateY(-35px);
        background-image: linear-gradient(45deg, #ff2500, #ff7100);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .menu-mobile-magic ul li a.ativo .texto-menu{
        transform: translateY(-55px);
        font-weight: 600;
        opacity: 1;
        background-image: linear-gradient(45deg, #ff2500, #ff7100);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .menu-mobile-magic ul li:hover a .icone-menu{
        transform: translateY(-35px);
        background-image: linear-gradient(45deg, #ff2500, #ff7100);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .menu-mobile-magic ul li:hover a .texto-menu{
        transform: translateY(-55px);
        font-weight: 600;
        opacity: 1;
        background-image: linear-gradient(45deg, #ff2500, #ff7100);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .menu-desktop{
        display: none;
    }

    .logo{
        width: 20%;
    }

    .social{
        width: 80%;
        margin: 0 30px 0 0px;
        justify-content: flex-end;
    }

    .flex{
        flex-direction: column;
    }

    .texto-topo-desktop{
        display: none;
    }

    .texto-topo-mobile{
        display: block;
    }

    section{
        height: 100%;
    }

    .topo .texto-topo h1{
        font-size: 45px;
        margin-top: 60px;
        text-align: center;
    }

    .topo .texto-topo h2{
        font-size: 30px;
        text-align: center;
    }

    .topo .texto-topo h3{
        text-align: center;
        margin: 60px auto 20px;
    }

    .topo .texto-topo p{
        text-align: center;
        font-weight: 300;
    }

    .topo .img-topo img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 0 auto;
    }

    /* HABILIDADES */

    .habilidades .titulo{
        font-size: 30px;
    }

    .habilidades p{
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        margin: 10px auto;
    }

    .habs li{
       width: 55px;
    }

    .tec-container{
        width: 350px;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0 -53px;
    }

    .card-content{
        width: 350px;
        height: 100px;
    }

    .card-content h2{
        font-size: 20px;
        text-align: center;
    }

    .card-content p{
        font-size: 15px;
    }

    .card-image{
        margin: 50px auto 0;
    }

    /* PROJETOS */

    .projetos .titulo{
        font-size: 30px;
    }

    .projeto-container{
        flex-direction: column;
    }

    .reverse{
        text-align: center;
    }

    .img-proj{
        margin: 25px auto 0;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .projeto-content{
        width: 350px;
        align-items: center;
        margin: 0 auto;
    }


    .btn-projeto{
        display: none;
    }

    .questions-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-desktop{
        display: none;
    }

    .footer-mobile{
        display: block;
    }
    
    .footer-mbl{
        margin-top: 5px;
        color: #cccccc;
        font-weight: 300;
        text-align: center;
    }

    .footer-mbl span{
        font-weight: 600;
    }

    footer.dark .footer-mbl span{
        color: #000000;
    }

    .divisa-footer-mobile{
        border-top: 2px solid #636363;
        text-align: center;
        font-weight: 400;
        margin-bottom: 70px;
    }
}


@media screen and (max-width: 500px){

    .menu-desktop{
        display: none;
    }

    .logo{
        display: flex;
        justify-content: start;
    }

    .logo img{
        width: 150px;
    }

    .logo{
        width: 30%;
    }

    .social{
        width: 70%;
        margin: auto;
        justify-content: end;
    }

    .social button{
        width: 25px; 
    }

    .social button::before{
        display: none;
    }

    .social button:hover::before{
        display: none;
    }


    .topo .texto-topo h1{
        font-size: 45px;
        margin-top: 60px;
        text-align: center;
    }

    .topo .texto-topo h2{
        font-size: 30px;
        text-align: center;
    }

    .topo .texto-topo h3{
        text-align: center;
        margin: 60px auto 20px;
    }

    .topo .texto-topo p{
        text-align: center;
        font-weight: 300;
    }

    .topo .img-topo img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 0 auto;
    }


    /* HABILIDADES */

    .habilidades .titulo{
        font-size: 28px;
    }

    .habilidades p{
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        margin: 10px auto;
    }

    .habs li{
       width: 55px;
    }

    .tec-container{
        width: 350px;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0 -53px;
    }

    .card-content{
        width: 350px;
        height: 100px;
    }

    .card-content h2{
        font-size: 20px;
        text-align: center;
    }

    .card-content p{
        font-size: 15px;
    }

    .card-image{
        margin: 50px auto 0;
    }

    /* PROJETOS */

    .projetos .titulo{
        font-size: 30px;
    }

    .projeto-container{
        flex-direction: column;
    }

    .reverse{
        text-align: center;
    }

    .img-proj{
        margin: 25px auto 0;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .projeto-content{
        width: 80%;
        align-items: center;
    }

    .btn-projeto{
        display: none;
    }


    /* SOBRE */

    section.sobre .texto-sobre h2{
        font-size: 28px;
        line-height: 30px;
    }

    /* FAQ */

    .questions-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .questions p{
        font-size: 15px;
    }

    .down{
        width: 20px;
        height: 20px;
    }

    .down i{
        font-size: 15px;
    }

    .answer p{
        font-size: 15px;
    }

    .faq.active .answer{
        max-height: 600px;
    }

    /* SINCERÃO */

    .sincerao{
        width: 100vw;
        height: 500px;
    }

    .sincerao h2{
        font-size: 35px;
    }

    .sincerao p{
        font-size: 15px;
        width: 300px;
        margin: 0 auto;
    }

    .rate p{
        font-size: 20px;
    }

    .rate-container{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        height: 30px;
    }

    .rate-container div{
        margin: 0 auto;

        width: 60px;
        height: 40px;
        transition: .2s;
        cursor: pointer;
    }

    .obrigado {
        margin: 30PX auto 0;
        width: 300px;
        box-shadow: 0px 0px 8px #ffffff;
        border-radius: 20px;
    }

    .obrigado p{
        font-size: 20px;
        padding: 0 0 20px 0;
        animation: fade 1.2s ease-in-out;
    }


    /* FOOTER */

}

@media screen and (max-width: 330px){

    .abrir-menu i{
        margin-right:50px;
    }

    .topo .texto-topo h1{
        font-size: 35px;
        margin: 60px 0 10px 0;
    }

    .topo .texto-topo h2{
        font-size: 25px;
    }

    .habilidades h2{
        font-size: 28px;
    }

    .habs li{
       width: 48px;
    }

    .card-content{
        width: 300px;
    }

    .projeto-content{
        width: 280px;
    }

    .faq{
        width: 280px;
    }

    .faq.active .answer{
        max-height: 630px;
    }

    .logo-footer img{
        height: 40px;
        width: 120px;
    }

    .social-footer-mobile{
        margin: -45px 0 0 150px;
    }

    .social-footer-mobile button{
        width: 20px;
        height: 20px;
    }

    .social-footer-mobile button{
        margin-left: 10px;
    }
}