:root{
    --color-light: #b1b1b1
    --color-dark: #242424
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 65px;
}


.flex {
    display: flex;
}

body{
    background: #000000;
}

body.dark{
    background: #000000;
}

section{
    min-height: 100vh;
    box-shadow: 0px 0px 3px #ffffff;
}

section.dark{
    box-shadow: 0px 0px 3px #ffffff;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: 5s;
}

.show{
    opacity: 1;
    transform: translateX(0%);
    transition: 10s;
}

.container{
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */

header{
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 65px;
    padding: 10px;
    box-shadow: 0px 0px 3px #ffffff;
    z-index: 2;
}

header.dark{
    background-color: #000000;
    box-shadow: 0px 0px 8px #ffffff;
}

.logo, .social{
    width: 25%;
}

.menu-desktop{
    width: 50%;
}

.logo{
    margin-top: 15px;
}

/* MENU-DESKTOP */

.menu-desktop nav a{
    color: #636363;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    transition: 0.2s;
    margin-left: 35px;
}



.menu-desktop nav a:hover{
    transform: scale(1.1);
    font-weight: 600;
}

.menu-desktop nav a:active{
    color: #ffffff;
}


.menu-desktop nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ffffff, #aaaaaa);
    position: absolute;
    top: 22px;
    left: 0;
    transition: width 0.5s;
}

.menu-desktop nav a:hover::after{
    width: 32px;
}

.menu-desktop nav a.ativo{
    color: #ffffff;
    font-weight: 600;
}

.menu-desktop nav a.ativo::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 22px;
    left: 0;
    width: 32px;
    transition: width 0.5s;
}

/* menu mobile */

.abrir-menu i{
    color: #fe4701;
    font-size: 40px;
    margin-top: 8px;
    display: none;
}

.menu-mobile{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.menu-aberto{
    width: 70%;
}

.menu-mobile.menu-aberto ~ .sombreado-menu{
    display: block;
}

.fa-solid:hover{
    transform: scale(1.05);
}

.menu-mobile .fechar{
    padding: 20px 6%;
}


.menu-mobile .fechar i{
    color: #fe4701;
    font-size: 40px;
}

.logo-mobile{
    text-align: center;
}

.menu-mobile nav ul{
  text-align: center;
}

.menu-mobile nav ul li a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #fe4701;
    font-weight: 600;
    color: #000000;
}

#social-mobile{
    display: flex;
    gap: 15px;
    margin: 15px;
    background-color: #242424;

}

#social-mobile.dark{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
}

#social-mobile.dark i{
    color: #ffffff;
}

.sombreado-menu{
    background-color: #000000a2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}

/* REDES SOCIAIS */

.social button i{
    font-size: 25px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

}

.social button:hover i{
    color: #ffffff;
    transform: scale(1.1);
}

#gh i:hover{
    color: #000000;
}

.social button{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.social.dark button{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
}

.social.dark button i{
    color: #ffffff;
}


#linkedin::before{
    background-color: #0A66C2;
}

#gh::before{
    background-color: #ffffff;
}

#whatsapp::before{
    background-color: #25D366;
}

#instagram::before{
    background: linear-gradient(#F9CE34 , #EE2A7B , #6228D7)
}

.social button::before{
    content: "";
    width: 65px;
    height: 65px;
    border-radius: 50px;
    position: absolute;
    left: -100;
    top: 100%;
    background-color: #242424e3;
}

.social button:hover::before{
    animation: deslocamento .6s;
    left: 0;
    top: 0;
}

@keyframes deslocamento {
    0%{
        left: -100;
        top: 100%;
    }
    50%{
        left: 15%;
        top: -25%;
    }
    100%{
        left: 0;
        top: 0;
    }
}

/* BOTÃO MODO DARK */

.dark-mode{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 50px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.dark-mode.dark{
    background-color: #242424;
    box-shadow: 0px 0px 8px #ffffff;
}

.dark-mode.dark i{
    color: #ffffff;
}

.dark-mode i{
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

}

.dark-mode:hover i{
    color: #ffffff;
    transform: scale(1.05);
}

.dark-mode::before{
    content: "";
    width: 65px;
    height: 65px;
    border-radius: 50px;
    position: absolute;
    left: -100;
    top: 100%;
    background-color: #242424e3;
}

.dark-mode:hover::before{
    animation: deslocamento .6s;
    left: 0;
    top: 0;
}

/* texto topo lado esquerdo */

section.topo{
    padding: 40px 4%;
}

section.topo .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo .texto-topo h1{
    background: linear-gradient(to bottom, #ff1e00, rgb(255, 115, 0), rgb(224, 221, 64));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff1e00;
    font-size: 60px;
    margin-top: 100px;
    padding: 15px;
}

.topo .texto-topo h1 span{
    font-size: 50px;

}

.topo .texto-topo h2{
    color: rgb(0, 255, 34);
    font-size: 35px;
    margin-top: 20px;
    margin-left: 70px;
}

#front{
    color: #8400ff;
}

.topo .texto-topo h2 span{
    color: rgb(255, 0, 255);
}

#chaves{
    height: 60px;
    background: linear-gradient(to bottom, #ff1e00, rgb(255, 115, 0), rgb(224, 221, 64));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    margin-top: 25px;
    padding: 10px;
}

h3{
    color: #363636;
    text-align: end;
    margin: 80px 0 0 0;
    text-transform: uppercase;
}

.topo .texto-topo p{
    margin: 20px 0 0 0;
    font-size: 20px;
    color: #242424;
    text-align: end;
    line-height: 30px;
}

/* BOTÃO REPOSITÓRIO */

.topo .texto-topo button{
    margin: 50px 0 0 350px;
    background-color: transparent;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 8px #ffffff;
    transition: .2s;
    cursor: pointer;
}

.topo .texto-topo a button{
    color: #242424;
    font-size: 18px;
    font-weight: 600;
    transition: .2s;

}

.topo .texto-topo button:hover{
    transform: scale(1.1);
}

.topo .texto-topo a button:hover{
    color: #ffffff;
}

/* IMAGEM TOPO DO SITE */

.topo .img-topo img{

    margin-top: 80px;
    box-shadow: 0px 0px 10px #ffffff;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-size: cover;

}

/* habilidades */

section.habilidades{
    padding: 80px 20px 40px 20px;
}

section.habilidades .interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades h2{
    color: #242424;
    font-size: 40px;
}

.habilidades h2 span{
    position: relative;
}

.habilidades h2 span::before{
    content: "";
    background: linear-gradient(to bottom, #ff1e00, rgb(255, 115, 0), rgb(224, 221, 64));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    animation: hab 5s infinite;
}

.habilidades h2 span::after{
    content: "";
    position: absolute;
    height: 42px;
    bottom: 4px;
    border-left: 2px solid #838383;
    right: -10px;
    animation: ponteiroi .7s infinite, digitar 20s steps(15) infinite;
    width: calc(100% + 12px);
    background-color: #000000;
}

.habilidades h2 span.dark::after{
    background-color: #000000;
}


@keyframes digitar {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 90%{
        width: calc(100% + 12px);
    }
}

@keyframes ponteiroi{
    0%{
        border-left: 2px solid #1D1717;
    }
}

@keyframes hab{
    0%,100%{
        content: "<MINHAS> </HABILIDADES>" ;
    }
}

.habilidades p{
    color: #242424;
    padding: 20px;
}

.habs li.nivel{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 30px;
    margin: 10px 20PX;
    list-style-type: none;
}

.lista {
    color: #242424 ;
    font-weight: 300;
    display: flex;
    column-gap: 50px;
    padding: 10px;
    justify-content: center;
    transition: 0.2s;
}

.habs{
    transition: .5s;
}

.habs:hover{
    box-shadow: 0px 0px 8px #000000;
    border-radius: 10px;

}

.habs li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.habil{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    margin-bottom: 40px;
    color: #ffffff;
    padding: 5px;
    list-style-type: none;
    transition: .5s;
}

.habil:hover{
    transform: scale(1.1);
    border-radius: 20px;

}

.habil i{
    font-size: 60px;
    padding-top: 20px;
}

.sombreado-habil{
    position: absolute;
    display: flex;
    width: 80px;
    height: 90px;
    font-size: 20px;
    color: #000000;
    border-radius: 20px;
    margin-top: 35PX;
    opacity: 0;
    transition: .5s;
    align-items: end;
    justify-content: center;
}

.sombreado-habil:hover{
    opacity: 1;
}


#html{
    color: rgb(233, 94, 30);
}

#css{
    color: rgb(48, 18, 216);
}

#git{
    color: rgb(255, 255, 255);
}

#gh{
    color: rgb(255, 255, 255);
}

#js{
    color: rgb(230, 233, 30);
}

#boot{
    color: rgb(152, 30, 233);
}
#ang{
    color: rgb(233, 30, 30);
}
#react{
    color: rgb(30, 176, 233);
}


/* sobre */

section.sobre{
    padding: 80px 20px 40px 20px;
}

section.sobre .flex{
    align-items: center;
}

section.sobre .texto-sobre{
    color: #363636;
}

section.sobre .texto-sobre h2{
    background: linear-gradient(to bottom, #ff1e00, rgb(255, 115, 0), rgb(224, 221, 64));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding: 10PX;
    text-align: center;
}

section.sobre .texto-sobre p{
    margin: 15px 0px;
    text-align: justify;
}


/* projetos */

.projetos h2 span{
    position: relative;
}

.projetos h2 span::before{
    content: "";
    background: linear-gradient(to bottom, #ff1e00, rgb(255, 115, 0), rgb(224, 221, 64));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    animation: projetos 5s infinite;
}

.projetos h2 span::after{
    content: "";
    position: absolute;
    height: 42px;
    bottom: 4px;
    border-left: 2px solid #838383;
    right: -10px;
    animation: ponteiroi .7s infinite, digitar 20s steps(15) infinite;
    width: calc(100% + 12px);
    background-color: #000000;
}

.projetos h2 span.dark::after{
    background-color: #000000;
}


@keyframes digitar {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 90%{
        width: calc(100% + 12px);
    }
}

@keyframes ponteiroi{
    0%{
        border-left: 2px solid #1D1717;
    }
}

@keyframes projetos{
    0%,100%{
        content: "<MEUS> </PROJETOS>" ;
    }
}


section.projetos{
    padding: 80px 20px 40px 20px;
}

section.projetos h2{
    font-size: 40px;
    text-align: center;
    color: #242424;
}


section.projetos .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-proj{
    width: 360px;
    height: 360px;
    border-radius: 35px;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    position: relative;
    transition: 5s;
    margin-top: 10px;
}

.img-proj:hover{
    background-position: 100% 100%;
}

.sombreado{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000098;
    color: #ffffff;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.sombreado:hover{
    opacity: 1;
}

.btn-projeto{
    background: linear-gradient(45deg, #ff2500, #ff7100);
    width: 80px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.btn-projeto:hover{
    background: linear-gradient(45deg, #ff4800, #ff9e20);
    font-weight: 600;
    color: #ffffff;
}

/* footer */

footer{
    padding: 20px 4%;
}

footer.flex{
    justify-content: space-between;
}

.logo-footer, .social-footer{
    width: 50%;
}

.logo-footer img{
    height: 50px;
    width: 150px;
}

.social-footer{
    justify-content: end;
    text-align: end;
}

footer .divisa-footer{
    padding: 20px 0;
}

footer .divisa-footer p{
    color: #636363;
    font-weight: 300;
    text-align: center;
}

.divisa{
    border-top: 2px solid #636363;
}

/* RESPONSIVIDADE */



@media screen and (max-width: 1200px){

    .abrir-menu i{
        display: block;
        margin-left: 350px;
    }

    .menu-desktop, .dark-desktop, #social-header {
        display: none;
    }

    .flex{
        flex-direction: column;
    }

    section{
        height: 100%;
    }

    section.habilidades{
        padding: 40px 20px 20px 20px;
    }

    .habilidades h2{
        color: #ffffff;
        font-size: 30px;
    }

    .habilidades h2 span::before{
        font-size: 30px;
    }

    .habs{
        box-shadow: 0px 0px 8px #ffffff;
        border-radius: 10px;
    }

    .sombreado-habil{
        opacity: 1;
    }

    .lista {
        column-gap: 20px;
    }

    .habs li{
        width: 65px;
    }

    .habil{
        height: 60px;
    }

    section.sobre .social{
        display: inline;
    }

    .dark-mode{
        margin-left: 15px;
    }
    .img-proj{
        width: 300px;
        height: 360px;
        border-radius: 35px;
        display: flex;
        margin: 20px auto  ;
    }

    footer{
        padding: 10px 4%;
    }

    .social button{
        margin-right: 5px;
    }

    .social-footer{
        justify-content: end;
        margin-left: 185px;
        margin-top: -55px;
    }
}


@media screen and (max-width: 500px){

    .topo .texto-topo h1{
        font-size: 40px;
        margin-top: 60px;
    }

    .topo .texto-topo h1 span{
        font-size: 40px;

    }

    .topo .texto-topo h2{
        font-size: 25px;
    }

    #chaves{
        font-size: 40px;
        margin-top: 0px;
    }

    h3{
        text-align: center;
    }

    .topo .texto-topo p{
        text-align: center;
    }

    .topo .texto-topo button{
        margin: 30px 0 0 120px;
    }

    .topo .img-topo img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }

    .habilidades-topo{
        display: none;
    }

    .abrir-menu i{
        margin-left: 0px;
    }

    .logo{
        margin-right: 150px;
    }

    .logo span::before{
        font-size: 25px;
    }

    .abrir-menu{
        margin-left: 70px;
    }

    .dark-mode{
        margin-left: 15px;
    }

    .habilidades h2 span::before{
        font-size: 28px;
    }

    .habs li{
       width: 55px;
    }

    .social button{
        margin-right: 5px;
    }

    .social-footer{
        justify-content: end;
        margin-left: 160px;
        margin-top: -55px;
        margin-right: 2;
    }
}

@media screen and (max-width: 330px){

    .abrir-menu i{
        margin-left: 100px;
    }

    .trilho{
        margin-left: 170px;
    }
    .habilidades h2 span::before{
        font-size: 24px;
    }

    .habs li{
       width: 48px;
    }

    .habs li.nivel{
        font-size: 12px;
    }

    .sombreado-habil{
        font-size: 15px;
    }

    .logo-footer img{
        height: 40px;
        width: 120px;
    }


    .social button{
        margin-right: 5px;
    }

    .social-footer{
        justify-content: end;
        margin-left: 140px;
        margin-top: -55px;
        margin-right: 2;
    }
}